{% set selectFunction = getVars.selectFunction is defined and getVars.selectFunction is not empty ? getVars.selectFunction : 'selectMedio' %}
<table id="dt-medio-list" class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>{{ 'form.medio.label.ubicacion'|trans }}</th>
        <th>{{ 'form.medio.label.posicion'|trans }}</th>
        <th>{{ 'form.medio.label.tipo_medio'|trans }}</th>
        <th>{{ 'form.medio.label.subtipo_medio'|trans }}</th>
        <th>{{ 'form.label.actions'|trans }}</th>
    </tr>
    </thead>
</table>

<script type="text/javascript">
    var medio_list = null;
    $(document).ready(function() {
        var table_columns = [
            {"mData": "ubicacion__ubicacion"},
            {"mData": "posicion"},
            {"mData": "tipo_medio"},
            {"mData": "subtipoMedio__descripcion"},
            {
                "mData": function (source) {
                    return '<a class="btn btn-sm btn-primary" href="javascript:void(0)" onclick="closeThisPopup(this); {{ selectFunction }}(\''+encodeURIComponent(JSON.stringify(source))+'\', \'{{ getVars|json_encode|escape  }}\')">Select</a>';
                }
            }
        ];

        medio_list = TableManaged.init(
                '#dt-medio-list',
                '{{ url('medio_list_json', getVars) }}',
                null,
                [],
                table_columns,
                '{{ url('datatables_i18n_fragment', { language: app.request.locale }) }}'
        );
    });
</script>