{% extends 'ESocialAdminBundle::esocial_admin_base.html.twig' %}

{% block esocial_admin_base_menu_options %}
    <li>
        <a href="#"><i class="fa fa-asterisk"></i> <span class="nav-label">{{ 'menu.title.configuration'|trans }}</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            {{ parent() }}
            <li><a href="{{ path('report_list') }}"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">{{ 'menu.title.reports'|trans }}</span></a></li>
            <li><a href="{{ path('report_category_list') }}"><i class="fa fa-th-large"></i> <span class="nav-label">{{ 'menu.title.report_categories'|trans }}</span></a></li>
        </ul>
    </li>
{% endblock %}

{% block esocial_admin_base_menu_options_extra %}
    <li><a href="{{ path('report_execution_list') }}"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">{{ 'menu.title.report_execution'|trans }}</span></a></li>
{% endblock %}

{% block esocial_admin_base_header_links %}
    {% set vallas_country = app.session.get('vallas_country') %}
    {% set vallas_country_name = vallas_country is not empty ? vallas_country.name : '' %}
    <li>
        {{ 'menu.title.country'|trans }}: {{ vallas_country_name }}
    </li>
    <li>
        <a class="btn btn-sm" href="{{ path('country_select_form') }}" title="{{ 'menu.title.country.select' }}" onclick="loadAjaxPage(this); return false;">
            <span class="glyphicon glyphicon-map-marker"></span>
            {{ 'menu.title.country.change'|trans }}
        </a>
    </li>
    {{ parent() }}
{% endblock %}