{% set is_validation = imgValidation is defined and imgValidation ? '1' : '' %}
{{ form_start(form, {
    method: 'POST',
    action: entity is defined and entity.pkArchivo is not empty ? path('work_order_img_update', { id: entity.token, origin: 'list', type: type, validation: is_validation }) : path('work_order_img_create', { id: entity.token, type: type }),
    attr: { onsubmit: (imgValidation is defined and imgValidation ? 'checkStatusImageNotice(this); return false;' : 'sendAjaxForm(this); return false;') } }) }}

    <label class="control-label">{{ entity.nombre }}</label>
    <div class="margin-b-20">
        <img style="width:100%; max-width: 100%" src="/media/orden_trabajo_imagen/{{ entity.nombre }}" />
    </div>

    {% include 'ESocialUtilBundle:flash-messages:_flash.messages.html.twig' %}

    <div class="row margin-t">
        <div class="col-md-6">
            <div class="margin-b">{{ form_row(form.nombre) }}</div>
            {{ form_row(form.estado_imagen) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.observaciones) }}
            {{ form_row(form.observaciones_cliente) }}
        </div>
    </div>
    <div class="clearfix">
        {{ form_row(form.save) }}
    </div>

{% if is_validation %}
    <script type="text/javascript">
        $(document).ready(function(){
            imageStatusOld = '{{ entity.estadoImagen }}';
        });
    </script>
{% endif %}

{{ form_end(form) }}