{% extends 'base.html.twig' %}

{% block page_title %}{{ 'menu.title.categoria_propuesta'|trans }}{% endblock %}
{% block page_breadcrumb %}
    <li>{{ 'menu.title.configuration'|trans }}</li>
    <li>
        <strong><a href="{{ path('categoria_propuesta_list') }}">{{ 'menu.title.categoria_propuesta'|trans }}</a></strong>
    </li>
    <li class="active">
        <strong>{% if entity is defined and entity.pkCategoriaPropuesta is not empty %}{{ entity.nombre }}{% else %}{{ 'categoria_propuesta.buttons.add'|trans }}{% endif %}</strong>
    </li>
{% endblock %}

{% block body %}

    <div class="ibox">
        <div class="ibox-title">
            <h5>{% if entity is defined and entity.pkCategoriaPropuesta is not empty %}{{ entity.nombre }}{% else %}{{ 'categoria_propuesta.buttons.add'|trans }}{% endif %}</h5>
        </div>
        <div class="ibox-content">

            {% include 'ESocialUtilBundle:flash-messages:_flash.messages.html.twig' %}
            {% include 'ESocialUtilBundle:flash-messages:_form.errors.html.twig' %}

            {{ form_start(form, { method: 'POST', action: entity is defined and entity.pkCategoriaPropuesta is not empty ? path('categoria_propuesta_update', {id: entity.token }) : path('categoria_propuesta_create') }) }}

            {{ form_row(form.nombre) }}

                <div class="clearfix">
                    {{ form_row(form.save) }}
                </div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}