<div class="row">
    <div class="col-md-6">

        <fieldset>
            <legend>{{ 'esocial_admin.screens.users.text.personal_data'|trans }}</legend>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.surnames) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.phone) }}
                </div>
            </div>
        </fieldset>

    </div>
    <div class="col-md-6">
        <fieldset>
            <legend>{{ 'esocial_admin.screens.users.text.user_data'|trans }}</legend>
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
        </fieldset>
        <fieldset>
            <legend>{{ 'esocial_admin.screens.users.text.geo_data'|trans }}</legend>
            {{ form_row(form.bool_permitir_geo_ubicaciones) }}
            {{ form_row(form.bool_geo) }}
        </fieldset>
    </div>
</div>