{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body_attributes %}class="gray-bg"{% endblock %}

{% block body_wrapper %}
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name"><img src="{{ asset('bundles/app/img/logo_tur_sq.png') }}" alt="{{ app_info.name }}" style="width:300px" /></h1>

            </div>

            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <form class="m-t" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="form-group">
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username"  />
                </div>

                <div class="form-group">
                    <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Password" />
                </div>

                <div class="form-group">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
                <button type="submit" id="_submit" name="_submit" class="btn btn-primary block full-width m-b">{{ 'security.login.submit'|trans }}</button>
                <a href="#"><small>¿Ha olvidado su password?</small></a>
            </form>

            <p class="m-t"> <small>eSocial Technologies &copy; 2015</small></p>
        </div>
    </div>
{% endblock %}