{% extends 'base.html.twig' %}

{% block page_title %}{{ entity.name }}: Role Permissions{% endblock %}
{% block page_breadcrumb %}
    <li class="active">
        <strong>{{ entity.name }}: Role Permissions</strong>
    </li>
{% endblock %}

{% block body %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ entity.name }}: Role Permissions</h5>
        </div>
        <div class="ibox-content">

            {{ form_start(form, { method: 'POST', action: path('role_permissions_update', {id: entity.token }) }) }}

            {{ include('AppBundle:screens/role:permissions_list.html.twig') }}

            <div class="clearfix">
                <button class="btn btn-primary pull-right" type="submit"><strong>{{ 'form.actions.save'|trans }}</strong></button>
            </div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}