{% extends 'base.html.twig' %}

{% block page_title %}{{ 'menu.title.work_orders'|trans }}{% endblock %}
{% block page_breadcrumb %}
    <li>{{ 'menu.title.configuration'|trans }}</li>
    <li>
        <strong><a href="{{ path('work_order_list', { type: type }) }}">{{ 'menu.title.work_orders'|trans }}</a></strong>
    </li>
    <li class="active">
        <strong>{% if entity is defined and entity.pk_orden_trabajo is not empty %}{{ entity.pkOrdenTrabajo }}{% else %}{{ 'screens.work_orders.actions.add'|trans }}{% endif %}</strong>
    </li>
{% endblock %}

{% block body %}

    <div class="ibox">
        <div class="ibox-title">
            <h5>{% if entity is defined and entity.pk_orden_trabajo is not empty %}{{ entity.pkOrdenTrabajo }}{% else %}{{ 'screens.work_orders.actions.add'|trans }}{% endif %}</h5>
        </div>
        <div class="ibox-content">

            {% include 'ESocialUtilBundle:flash-messages:_flash.messages.html.twig' %}
            {% include 'ESocialUtilBundle:flash-messages:_form.errors.html.twig' %}

            {{ include('ESocialUtilBundle:Components:tabNavigation.html.twig', {
                'entity': entity is defined ? entity : null,
                'tab_selected' : 'basic_data',
                'template_path' : 'AppBundle:screens/work_order/formtabs',
                'tabs' : {
                    'basic_data': {
                        'title': 'work_order.tabs.basic_data',
                    },
                    'images': {
                        'title': 'work_order.tabs.images',
                        show: entity is defined and entity.pk_orden_trabajo is not empty,
                        message_show: 'form.text.need_save'|trans
                    }
                }
            })
            }}

        </div>
    </div>
    <script type="text/javascript">
        function selectMedio(data, vars){
            var jsonData = decodeURIComponent(data);
            var obj = JSON.parse(jsonData);
            var objVars = JSON.parse(vars);
            $("#work_order_medio").val(obj.token);
            $("#select-input-group-work_order_medio").html(obj.name);
        }
    </script>
{% endblock %}