{% extends 'base.html.twig' %}

{% block page_title %}{{ 'menu.title.work_orders'|trans }}{% endblock %}
{% block page_breadcrumb %}
    <li>{{ 'menu.title.configuration'|trans }}</li>
    <li class="active">
        <strong>{{ 'menu.title.work_orders'|trans }}</strong>
    </li>
{% endblock %}

{% block body %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ 'menu.title.work_orders'|trans }}</h5>
        </div>
        <div class="ibox-content">

            {% if type == 'fixing-monitoring' %}
                {{ include('ESocialUtilBundle:Components:tabNavigation.html.twig', {
                    'entity': entity is defined ? entity : null,
                    'tab_selected' : 'list',
                    'template_path' : 'AppBundle:screens/work_order',
                    'tabs' : {
                        'list': {
                            'title': 'work_order.tabs.list'
                        },
                        'img_validation': {
                            'title': 'work_order.tabs.img_validation'
                        }
                    }
                })
                }}
            {% else %}
                {{ include('AppBundle:screens/work_order:tab_list.html.twig') }}
            {% endif %}
        </div>
    </div>

    {*
    {% set modalsWorkOrderFields = {
        'modalWorkOrderChangeUser': { title: 'work_order.title.change_user', form: formChangeUser, type: 'user' },
        'modalWorkOrderChangeDateLimit': { title: 'work_order.title.change_date_limit', form: formChangeDateLimit, type: 'date_limit' },
        'modalWorkOrderChangeState': { title: 'work_order.title.change_state', form: formChangeState, type: 'state' },
    } %}
    {% for key, obj in modalsWorkOrderFields %}
        <div class="modal inmodal" id="{{ key }}" tabindex="-2" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'form.actions.close'|trans }}</span></button>
                        <h4 class="modal-title">{{ obj.title|trans }}</h4>
                    </div>
                    <div class="modal-body">
                        {% include 'AppBundle:screens/work_order:form_update_field.html.twig' with { form: obj.form, type: type, field_type: obj.type } %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">{{ 'form.actions.cancel'|trans }}</button>
                        <button type="submit" class="btn btn-primary" onclick="sendModalFormFromBtn(this)">{{ 'form.actions.accept'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    *}


{% endblock %}