{% extends 'base.html.twig' %}

{% block page_title %}{{ 'menu.title.work_orders'|trans }}{% endblock %}
{% block page_breadcrumb %}
    <li>{{ 'menu.title.configuration'|trans }}</li>
    <li class="active">
        <strong>
            {{ 'menu.title.work_orders'|trans }}
            {% if type == 'fixing-monitoring' %}
                - {{ 'menu.title.work_order_fixing_monitoring'|trans }}
            {% elseif type == 'installation' %}
                - {{ 'menu.title.work_order_installation'|trans }}
            {% elseif type == 'lighting' %}
                - {{ 'menu.title.work_order_lighting'|trans }}
            {% endif %}
        </strong>
    </li>
{% endblock %}

{% block body %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>
                {{ 'menu.title.work_orders'|trans }}
                {% if type == 'fixing-monitoring' %}
                    - {{ 'menu.title.work_order_fixing_monitoring'|trans }}
                {% elseif type == 'installation' %}
                    - {{ 'menu.title.work_order_installation'|trans }}
                {% elseif type == 'lighting' %}
                    - {{ 'menu.title.work_order_lighting'|trans }}
                {% endif %}
            </h5>
        </div>
        <div class="ibox-content">

            {% if type == 'fixing-monitoring' %}
                {{ include('ESocialUtilBundle:Components:tabNavigation.html.twig', {
                    'entity': entity is defined ? entity : null,
                    'tab_selected' : 'list',
                    'template_path' : 'AppBundle:screens/work_order',
                    'tabs' : {
                        'list': {
                            'title': 'work_order.tabs.list'|trans
                        },
                        'img_validation': {
                            'title': 'work_order.tabs.img_validation'|trans
                        }
                    }
                })
                }}
            {% else %}
                {{ include('AppBundle:screens/work_order:tab_list.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}