{% extends 'base.html.twig' %}

{% block page_title %}{{ 'menu.title.motivo_ordenes_pendientes'|trans }}{% endblock %}
{% block page_breadcrumb %}
    <li>{{ 'menu.title.configuration'|trans }}</li>
    <li class="active">
        <strong><a href="{{ path('motivo_ordenes_pendientes_list') }}">{{ 'menu.title.motivo_ordenes_pendientes'|trans }}</a></strong>
    </li>
{% endblock %}

{% block body %}
    <div class="ibox">
        <div class="ibox-title">
            <h5>{{ 'menu.title.motivo_ordenes_pendientes'|trans }}</h5>
        </div>
        <div class="ibox-content">

            {% include 'ESocialUtilBundle:flash-messages:_flash.messages.html.twig' %}

            <div class="margin-b">
                <a class="btn btn-white" title="{{ 'screens.motivo_ordenes_pendientes.buttons.add'|trans }}" href="{{ path('motivo_ordenes_pendientes_add') }}" onclick="loadAjaxFormPage(this, null, null, motivo_ordenes_pendientes_list_reload); return false;">
                    <span class="glyphicon glyphicon-plus"></span>
                    <strong>{{ 'screens.motivo_ordenes_pendientes.buttons.add'|trans }}</strong>
                </a>
            </div>

            <table id="dt-motivo-ordenes-pendientes-list" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="datatable-chk-cell"><input type="checkbox" class="i-checks datatable-chk-select-all" value="all" /></th>
                    <th>{{ 'form.motivo_ordenes_pendientes.label.descripcion'|trans }}</th>
                    <th>{{ 'form.motivo_ordenes_pendientes.label.tipo_incidencia'|trans }}</th>
                    <th>{{ 'form.label.actions'|trans }}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        var motivo_ordenes_pendientes_list = null;
        $(document).ready(function() {
            var table_columns = [
                {
                    "mData": function (source) {
                        return '<input type="checkbox" class="i-checks" value="'+source.token+'" />';
                    }
                },
                {"mData": "descripcion"},
                {"mData": "tipo_incidencia"},
                {
                    "mData": function (source) {
                        var actions = '<a class="btn btn-primary btn-xs" onclick="loadAjaxFormPage(this, null, null, motivo_ordenes_pendientes_list_reload);return false;" title="{{ 'screens.motivo_ordenes_pendientes.buttons.edit'|trans }}" href="' + Routing.generate('motivo_ordenes_pendientes_edit', { id: encodeURIComponent(source.token), _locale: '{{ app.request.locale }}' }) + '"><span class="glyphicon glyphicon-edit"></span> &nbsp; {{ 'form.actions.edit'|trans }}</a>&nbsp; ';
                        actions += '<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="bootbox.confirm(\'Seguro que desea eliminar el registro?\', function(confirmed){ if(confirmed) executeAjax(\'' + Routing.generate('motivo_ordenes_pendientes_delete', { _locale: '{{ app.request.locale }}', id: encodeURIComponent(source.token) }) + '\', null, null, motivo_ordenes_pendientes_list_reload); }); return false;"><span class="glyphicon glyphicon-remove"></span> &nbsp; {{ 'form.actions.delete'|trans }}</a>&nbsp; ';

                        return actions;
                    }
                }
            ];

                motivo_ordenes_pendientes_list = TableManaged.init(
                        '#dt-motivo-ordenes-pendientes-list',
                        '{{ url('motivo_ordenes_pendientes_list_json') }}',
                        null,
                        [],
                        table_columns,
                        '{{ url('datatables_i18n_fragment', { language: app.request.locale }) }}'
                );
        });

        function motivo_ordenes_pendientes_list_reload(result){
            if (result && result.message){
                var alertType = result.result == 1 ? 'success' : 'danger';
                $(motivo_ordenes_pendientes_list).closest('.dataTables_wrapper').prepend(Notification.alert(alertType, result.message));
            }
            motivo_ordenes_pendientes_list.ajax.reload();
        }
    </script>
{% endblock %}