<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>Permissions</legend>
            {{ form_row(form.roles) }}
        </fieldset>
    </div>
</div>
<div id="user-permission-list" style="display: {% if 'ROLE_CUSTOM' in entity.roles %}none{% else %}block{% endif %}">
    <table id="dt-user-permission-list" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Submodule</th>
            <th colspan="4">Permissions</th>
        </tr>
        <tr>
            <th></th>
            <th class="text-center">Create</th>
            <th class="text-center">Read</th>
            <th class="text-center">Update</th>
            <th class="text-center">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr><td colspan="5">Select a rol to view its permissions</td></tr>
        </tbody>
    </table>
</div>
<div id="user-permission-form" style="display: {% if 'ROLE_CUSTOM' in entity.roles %}block{% else %}none{% endif %}">
    {% if 'ROLE_CUSTOM' in entity.roles %}
        {{ include('AppBundle:screens/role:permissions_list.html.twig') }}
    {% endif %}
</div>
<script type="text/javascript">
    var user_permissions_list = null;

    var table_columns = [
        {"mData": "submodule"},
        {
            "mData": function (source) {
                return source.permission_C ? '<span class="glyphicon glyphicon-ok"></span>' : '';
            }
        },
        {
            "mData": function (source) {
                return source.permission_R ? '<span class="glyphicon glyphicon-ok"></span>' : '';
            }
        },
        {
            "mData": function (source) {
                return source.permission_U ? '<span class="glyphicon glyphicon-ok"></span>' : '';
            }
        },
        {
            "mData": function (source) {
                return source.permission_D ? '<span class="glyphicon glyphicon-ok"></span>' : '';
            }
        }
    ];

    function reloadUserPermissions(codeRole){

        if (codeRole == 'ROLE_CUSTOM'){
            $('#user-permission-list').hide();
            $("#user-permission-form").show();
            executeAjax(Routing.generate('user_permissions_form_by_role', { id: codeRole, user: '{{ entity.id is empty ? '' : entity.id }}' }), '#user-permission-form');
        }else{
            $('#user-permission-list').show();
            $("#user-permission-form").hide();
            if (user_permissions_list){
                user_permissions_list.api().ajax.url(Routing.generate('user_permission_by_role_list_json', { id: codeRole })).load();
            }else {
                user_permissions_list = TableManaged.init(
                        '#dt-user-permission-list',
                        Routing.generate('user_permission_by_role_list_json', {id: codeRole }),
                        null,
                        [],
                        table_columns,
                        '{{ url('datatables_i18n_fragment', { language: app.request.locale }) }}'
                );
            }
        }

    }

    $(document).ready(function(){

        $('#user_roles').change(function(){
            reloadUserPermissions($(this).val());
        });

        {% if entity.roles|length > 0 and 'ROLE_CUSTOM' not in entity.roles %}
        reloadUserPermissions('{{ entity.roles[0] }}');
        {% endif %}
    });

</script>