{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('/bundles/esocialadmin/js/plugins/fullcalendar/moment.min.js') }}"></script>
{% endblock %}
{% block page_title %}{{ 'menu.title.locations'|trans }}{% endblock %}
{% block page_breadcrumb %}
    <li>{{ 'menu.title.configuration'|trans }}</li>
    <li>
        <strong><a href="{{ path('ubicacion_list') }}">{{ 'menu.title.locations'|trans }}</a></strong>
    </li>
    <li class="active">
        <strong>{% if entity is defined and not isNew %}{{ entity.pkUbicacion }}{% else %}{{ 'screens.locations.actions.add'|trans }}{% endif %}</strong>
    </li>
{% endblock %}

{% block body %}

    <div class="ibox">
        <div class="ibox-title">
            <h5>{% if entity is defined and not isNew %}{{ entity.pkUbicacion }}{% else %}{{ 'screens.locations.actions.add'|trans }}{% endif %}</h5>
        </div>
        <div class="ibox-content">

            {% include 'ESocialUtilBundle:flash-messages:_flash.messages.html.twig' %}
            {% include 'ESocialUtilBundle:flash-messages:_form.errors.html.twig' %}

            {{ include('ESocialUtilBundle:Components:tabNavigation.html.twig', {
                'entity': entity is defined ? entity : null,
                'tab_selected' : paramForm is defined and paramForm is not empty ? paramForm : 'basic_data',
                'template_path' : 'AppBundle:screens/ubicacion/formtabs',
                'tabs' : {
                    'basic_data': {
                        'title': 'location.tabs.basic_data'|trans,
                    },
                    'images': {
                        'title': 'location.tabs.images'|trans,
                        show: entity is defined and not isNew,
                        message_show: 'form.text.need_save'|trans
                    },
                    'medios': {
                        'title': 'location.tabs.medios'|trans,
                        show: entity is defined and not isNew,
                        message_show: 'form.text.need_save'|trans
                    },
                    'disponibilidad': {
                        'title': 'location.tabs.disponibilidad'|trans,
                        show: entity is defined and not isNew,
                        message_show: 'form.text.need_save'|trans
                    },
                }
            })
            }}

        </div>
    </div>
    <script type="text/javascript">
        {% if entity is defined and not isNew %}
        function selectMedioImgPopup(data, vars){
            var jsonData = decodeURIComponent(data);
            var obj = JSON.parse(jsonData);
            var objVars = JSON.parse(vars);
            $("#ubicacion_img_popup_medio").val(obj.token);
            $("#select-input-group-ubicacion_img_popup_medio").html(text3Dots(obj.name,30));

        }
        function selectMedioImgList(data, vars){
            var jsonData = decodeURIComponent(data);
            var obj = JSON.parse(jsonData);
            var objVars = JSON.parse(vars);
            $("#ubicacion_img_medio").val(obj.token);
            $("#select-input-group-ubicacion_img_medio").html(text3Dots(obj.name,30));
        }
        {% endif %}
        var ubicacionMap;
        function setUbicacionMap(latitud, longitud){
            var myLatLng = {lat: latitud, lng: longitud };
            var objMap = document.getElementById('ubicacion-map');
            ubicacionMap = new google.maps.Map(objMap, { center: myLatLng, zoom: 8 });
            var marker = new google.maps.Marker({ position: myLatLng, map: ubicacionMap });
            $(objMap).css('height', '200px');
        }
        function initMapUbicacion(){
            {% if entity is defined and entity.latitud is not empty and entity.longitud is not empty %}
            setUbicacionMap({{ entity.latitud }}, {{ entity.longitud }});
            {% endif %}
        }
        function onUbicacionCoordsChange(){
            var latitudVal = $('#ubicacion_latitud').val();
            var longitudVal = $('#ubicacion_longitud').val();
            if (latitudVal != '' && longitudVal != ''){
                setUbicacionMap(parseFloat(latitudVal), parseFloat(longitudVal));
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrnM5OyIjcm8FYALdS1KZdE7yKa-x2Iqk&callback=initMapUbicacion" async defer></script>
{% endblock %}